<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="connecting_hardware" >
    <visual>
      <origin xyz="-0.27 -0.27 0.05" rpy="1.57 0 1.57"/>
      <geometry>
        <!--<mesh filename="package://sdl_robot_description/meshes/test.STL" scale="0.001 0.001 0.001"/>-->
        <mesh filename="package://sdl_robot_description/meshes/connection_mockup.stl" scale="0.85 0.9 1.0"/>
      </geometry>
      <material name="LightGrey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.27 -0.27 0.05" rpy="1.57 0 1.57"/>
      <geometry>
        <!--<mesh filename="package://sdl_robot_description/meshes/test.STL" scale="0.001 0.001 0.001"/>-->
        <mesh filename="package://sdl_robot_description/meshes/connection_mockup.stl" scale="0.85 0.9 1.0"/>
      </geometry>
    </collision>
    <inertial>
        <mass value="5"/>
        <inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
        <origin xyz="0 0 0.5" rpy="0 0 0"/>
    </inertial>
  </link>

  <joint name="mir_to_hardware" type="fixed">
    <parent link="mir/base_footprint"/>
    <child link="connecting_hardware"/>
    <origin xyz="0.35 0.27 -0.05" rpy="0.0 0.0 0.0"/>
  </joint>

  <joint name="hardware_to_ur" type="fixed">
    <parent link="connecting_hardware"/>
    <child link="ur5e_base_link"/>
    <origin xyz="-0.25 -0.27 1.0" rpy="0.7854 0.0 1.57"/>
  </joint>

  <joint name="hardware_to_ur2" type="fixed">
    <parent link="connecting_hardware"/>
    <child link="ur16e_base_link"/>
    <origin xyz="-0.4 -0.27 1.0" rpy="-0.7854 0.0 1.57"/>
  </joint>

</robot>
