<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="sdl_robot" >

  <!-- common stuff -->
  <xacro:include filename="$(find sdl_robot_description)/urdf/common.gazebo.xacro" />

  <!-- mir-->
  <xacro:include filename="$(find sdl_robot_description)/urdf/mir.urdf.xacro"/>

  <!-- connecting hardware -->
  <xacro:include filename="$(find sdl_robot_description)/urdf/connecting_hardware.urdf.xacro" />

  <!-- ur5e arm -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro" />
  <xacro:ur5e_robot prefix="" joint_limited="False" />
s
  <!-- gripper -->
  <xacro:include filename="$(find sdl_robot_description)/urdf/2f140.urdf" />

  <!-- camera -->
  <xacro:include filename="$(find sdl_robot_description)/urdf/camera.urdf.xacro" />


</robot>
