<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="sdl_robot" >

  <!-- common stuff -->
  <xacro:include filename="$(find sdl_robot_description)/urdf/common.gazebo.xacro" />

  <!-- mir-->
  <xacro:include filename="$(find sdl_robot_description)/urdf/mir.urdf.xacro"/>

  <!-- ur5e and gripper -->
  <xacro:include filename="$(find sdl_robot_description)/urdf/ur5e_and_2f140.urdf" />


  <!-- <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint> -->

</robot>
