# Simulation settings for using moveit_sim_controllers
moveit_sim_hw_interface:
  joint_model_group: ur_arm
  joint_model_group_pose: home
# Settings for ros_control_boilerplate control loop
generic_hw_control_loop:
  loop_hz: 300
  cycle_time_error_threshold: 0.01
# Settings for ros_control hardware interface
hardware_interface:
  joints:
    - virtual_joint
    - left_wheel_joint
    - right_wheel_joint
    - ur5e_shoulder_pan_joint
    - ur5e_shoulder_lift_joint
    - ur5e_elbow_joint
    - ur5e_wrist_1_joint
    - ur5e_wrist_2_joint
    - ur5e_wrist_3_joint
    - finger_joint
  sim_control_mode: 1  # 0: position, 1: velocity
# Publish all joint states
# Creates the /joint_states topic necessary in ROS
joint_state_controller:
  type: joint_state_controller/JointStateController
  publish_rate: 50
controller_list:
  - name: ur_arm_controller
    action_ns: follow_joint_trajectory
    default: True
    type: FollowJointTrajectory
    joints:
      - ur5e_shoulder_pan_joint
      - ur5e_shoulder_lift_joint
      - ur5e_elbow_joint
      - ur5e_wrist_1_joint
      - ur5e_wrist_2_joint
      - ur5e_wrist_3_joint
  # - name: position_traj_controller
  #   action_ns: follow_joint_trajectory
  #   type: FollowJointTrajectory
  #   default: True
  #   joints:
  #   - ur5e_shoulder_pan_joint
  #   - ur5e_shoulder_lift_joint
  #   - ur5e_elbow_joint
  #   - ur5e_wrist_1_joint
  #   - ur5e_wrist_2_joint
  #   - ur5e_wrist_3_joint
  - name: effort_traj_controller
    action_ns: follow_joint_trajectory
    type: FollowJointTrajectory
    default: True
    joints:
    - ur5e_shoulder_pan_joint
    - ur5e_shoulder_lift_joint
    - ur5e_elbow_joint
    - ur5e_wrist_1_joint
    - ur5e_wrist_2_joint
    - ur5e_wrist_3_joint
# position_traj_controller:
#   type: position_controllers/JointTrajectoryController
#   joints:
#     - ur5e_shoulder_pan_joint
#     - ur5e_shoulder_lift_joint
#     - ur5e_elbow_joint
#     - ur5e_wrist_1_joint
#     - ur5e_wrist_2_joint
#     - ur5e_wrist_3_joint
#   gains:
#     ur5e_shoulder_pan_joint:
#       p: 1000
#       d: 10
#       i: 1
#       i_clamp: 1
#     ur5e_shoulder_lift_joint:
#       p: 1000
#       d: 10
#       i: 1
#       i_clamp: 1
#     ur5e_elbow_joint:
#       p: 1000
#       d: 10
#       i: 1
#       i_clamp: 1
#     ur5e_wrist_1_joint:
#       p: 1000
#       d: 10
#       i: 1
#       i_clamp: 1
#     ur5e_wrist_2_joint:
#       p: 1000
#       d: 10
#       i: 1
#       i_clamp: 1
#     ur5e_wrist_3_joint:
#       p: 1000
#       d: 10
#       i: 1
#       i_clamp: 1
effort_traj_controller:
  type: effort_controllers/JointTrajectoryController
  joints:
    - ur5e_shoulder_pan_joint
    - ur5e_shoulder_lift_joint
    - ur5e_elbow_joint
    - ur5e_wrist_1_joint
    - ur5e_wrist_2_joint
    - ur5e_wrist_3_joint
  gains:
    ur5e_shoulder_pan_joint:
      p: 1000
      d: 10
      i: 1
      i_clamp: 1
    ur5e_shoulder_lift_joint:
      p: 1000
      d: 10
      i: 1
      i_clamp: 1
    ur5e_elbow_joint:
      p: 1000
      d: 10
      i: 1
      i_clamp: 1
    ur5e_wrist_1_joint:
      p: 1000
      d: 10
      i: 1
      i_clamp: 1
    ur5e_wrist_2_joint:
      p: 1000
      d: 10
      i: 1
      i_clamp: 1
    ur5e_wrist_3_joint:
      p: 1000
      d: 10
      i: 1
      i_clamp: 1

      # https://ros-planning.github.io/moveit_tutorials/doc/gazebo_simulation/gazebo_simulation.html