<launch>
    <include file="$(find sdl_gazebo)/launch/sdl_robot.launch">
        <!-- <arg name="tf_prefix" value="/robot"/> -->
    </include>

  <include file="$(find sdl_moveit_config)/launch/ros_controllers.launch" />

  <!-- Start MoveIt -->
  <include file="$(find sdl_moveit_config)/launch/move_group.launch"> 
      <arg name="allow_trajectory_execution" value="true"/>
      <arg name="fake_execution" value="false"/>
      <arg name="info" value="true"/>
  </include>

  <!-- Start the node to control the arm with MoveIt -->
  <node name="ur_python_planner" pkg="sdl_gazebo" type="sdl_moveit_node.py" output="screen" />

</launch>
