<launch>
    <include file="$(find sdl_gazebo)/launch/sdl_robot.launch"/>

    <include file="$(find sdl_moveit_config)/launch/ros_controllers.launch"/>

    <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <!-- By default, we won't load or override the robot_description -->
  <arg name="load_robot_description" default="false"/>

  <arg name="map_rviz" default="true"/>
  
  <arg name="cam_rviz" default="true"/>

    <include file="$(find sdl_moveit_config)/launch/move_group.launch"> 
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution" value="false"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="load_robot_description" value="$(arg load_robot_description)"/>
    </include>

    <node name="ur_python_planner" pkg="sdl_gazebo" type="sdl_moveit_node.py" output="screen" />
       
    <!-- Navigation -->
    <include file="$(find mir_navigation)/launch/hector_mapping.launch"/>
    <include file="$(find mir_navigation)/launch/move_base.xml">
        <arg name="with_virtual_walls" value="false"/>
    </include>

    <!-- Visualization of navigation and Kinect camera-->
    <group if="$(eval map_rviz)">
        <node type="rviz" name="map_rviz" pkg="rviz" args="-d $(find mir_navigation)/rviz/navigation.rviz" />
    </group>

    <group if="$(eval cam_rviz)">
        <node type="rviz" name="cam_rviz" pkg="rviz" args="-d $(find sdl_robot_description)/cfg/point_cloud_config.rviz" />
    </group>

    <!-- AR Tag detection -->
    <include file="$(find sdl_gazebo)/launch/ar_camera.launch" />
    
</launch>