<launch>
    <include file="$(find sdl_gazebo)/launch/sdl_robot.launch"/>

    <include file="$(find sdl_moveit_config)/launch/ros_controllers.launch"/>

    <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <!-- By default, we won't load or override the robot_description -->
  <arg name="load_robot_description" default="false"/>

    <include file="$(find sdl_moveit_config)/launch/move_group.launch"> 
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution" value="false"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="load_robot_description" value="$(arg load_robot_description)"/>
    </include>

    <node name="ur_python_planner" pkg="sdl_gazebo" type="sdl_moveit_node.py" output="screen" />
       
    <include file="$(find mir_navigation)/launch/hector_mapping.launch"/>
    <include file="$(find mir_navigation)/launch/move_base.xml">
        <arg name="with_virtual_walls" value="false"/>
    </include>

    
</launch>